.slide{
    overflow: hidden;
    height:300px;
    border: 10px black solid;
    margin: 0 200px 0 200px;
  }
  
  .slide figure img{
    width: 20%;
    float: left;
    position: relative;
    bottom:250px;
    
  }
  
  .slide figure{
    position:relative;
    width: 500%;
    margin:0;
    left:0;
    text-align: left;
    font-size:0;
    animation: 20s slider infinite;
  }
  
  @keyframes slider{
     0% {
       left:0;
     }
  
     20%{
       left:0;
     }
  
     25% {
       left:-100%;
     }
  
     45%{
       left:-100%
     }
  
     50% {
       left: -200%;
     }
     
     70%{
       left: -200%;
     }
  
     75% {
       left:-300%
     }
  
     95% {
       left: -400%
     }
     100% {
       left:-300%;
     }
     
  }

.content{
  background-color: black;
  margin: 10px 0 0 50px;
  color:orange;
  height:100%;
  margin-right: 30%;
  padding:10px 0 0 20px;
  margin: 0 200px 0 200px;
}