body {
    font-family: Arial, sans-serif;
    background-image: url("https://i.pinimg.com/474x/de/0f/4b/de0f4bf6e8075312a6eb20ad7044571a--car-images-hd-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
  
#page-container {
    position: relative;
    min-height: 100vh;
}
  
header {
  text-align:center;
  font-family:verdana;
  border: 1px solid gray;
  color:#ffffff;
  background:hsl(180, 90%, 35%);
}
   
nav{
  background-color: hsl(180, 80%,25%);
}
  
nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}
nav li {
  display: inline;
  margin-right: 20px;
}
  
a:hover{
  color:orange;
  transform:scale(1.2);
}
  
header a{
  color: inherit;
}
  
footer {
  bottom:0px;
  background-color:hsl(180, 90%,35%);
  color:white;
}
  
footer .info {   
  font-size: 15px;
  display:flex;
}

footer .info strong {
  font-size: 18px;
}
  
footer .info .email {
  margin-left: 10px;
}
  
figure {
  display: flex;
  align-items: center;

}
  
figure img{
  width:200px;
  margin-right:10px;
}
  
figcaption{
  font-size:12px;
  line-height:0.5;
  display: -ms-inline-flexbox;
}

main{
    padding:0 10% 0 10%; 
}

#intro{
  font-family:courier;
  width:30%;
  text-align: center;
  position:relative;
  animation-name:bounce;
  animation-duration:2s;
  animation-iteration-count:infinite;
  font-size: 20px;
  color:white;
  background-color: hsl(180, 80%,25%);
}

@keyframes bounce{
  0%{
    top:0px;
  }
  50%{
    top:50px
  }
  100%{
    top:0px;
  }
}

.bg-modal{
  width: 100%;
  height:100%;
  background-color: black;
  opacity:0.9;
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.form{
  width: 500px;
  height:400px;
  background-color:hsl(180, 80%,25%);
  border-radius:4px;
  text-align: center;
  padding:20px;
  position:relative;
  color:black;
  font-family: sans-serif;
}

.close{
  position: absolute;
  top:0;
  right:14px;
  font-size: 42px;
  transform:rotate(45deg);
  cursor: pointer;
  
}

#login-form{
  width: 500px;
  height:300px;
  justify-content: center;
  align-items: center;
  
}

#register-form{
  width: 500px;
  height:300px;
  justify-content: center;
  align-items: center;
  display:none;
  
}

.form input{
  background: #f2f2f2;
  width: 50%;
  display:block;
  margin: 15px auto;
  font-size: 14px;
  padding: 10px;
}

button{
text-transform: uppercase;
cursor: pointer;
}

.white{
  color:white;
}

.form a{
  color:inherit;
  padding: 5px;
}

button:hover{
  background: orange;
}

form a:hover{
  color:orange;
}

.top{
  display:flex;
  background-color: #f2f2f2;
  position: relative;
}

.top button:hover{
  transform: scale(1.5);
}

.top button{
  position:absolute;
  right:0;
  display:inherit;
  height:100%;
}

#sell-form{
  width: 500px;
  height:300px;
  color:orange;
  display:none;
  
}

.radio input{
  display:unset;
  background:unset;
  width: 30px;
  margin: unset;
  color:black;
  background: #ffffff;
}

.body-type{
  display:flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}


