.form {
    height:auto;
}

header{
    margin-bottom: 20px;
}

#change-price-form{
    width:200px;
    color:orange;
    justify-content: center;
    align-items: center;
    padding: 40px 0 10px 10px;
    margin-left: 20px;
    border: 2px solid black;
    border-radius:5%;
    display: none;
}

.car-info{
    height:100%;
}

.sidebar{
    margin-top:-20px;
  }