<!DOCTYPE html>
<html>

  <head>
    <meta name=”viewport” content=”width=device-width″>
    <meta name="Keywords" content="automobile, car sale, buycar ">
    <meta name="description" content="AutoMobile buy and sell shop">
    <meta name="author" content="Didas Mbalanya">
    <title>AUTOMART DEALERS SHOP</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/about.css">
    <script src="js/script.js"></script>
  </head>

  <body>

    <div class="main-content">
      
      <header>
        <h1><a href="index.html">AUTOMART DEALERS</a></h1>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="sales.html">My Sales</a></li>
            <li><a href="purchase.html">Purchase Orders</a></li>
            <li><a href="#" id ="login" onclick="bgUnhide('.bg-modal'), unhide('#login-form')">login/Register</a></li>
          </ul>
        </nav>
      </header>
    
      <div class='slide'>
        <figure>
          <img  src="https://images.pexels.com/photos/210019/pexels-photo-210019.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="CAR MODEL Z">
          <img  src="https://images.pexels.com/photos/210019/pexels-photo-210019.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="CAR MODEL Z">
          <img  src="https://images.pexels.com/photos/210019/pexels-photo-210019.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="CAR MODEL Z">
          <img  src="https://images.pexels.com/photos/210019/pexels-photo-210019.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="CAR MODEL Z">
          <img  src="https://images.pexels.com/photos/210019/pexels-photo-210019.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="CAR MODEL Z">
  
        </figure>     
      </div>
  
    </div>

    <footer>
      <p>Email: automart@yahoo.com </p>
      <p>Contact: 0232334343</p>
    </footer>
    
  </body>
</html>